<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>Pega Operations </h2>
            </div>
            {% block content %}{% endblock %}
            <br>
            <div class="footer">
                &copy; dl-caremanagement_prodcontrol_pega@anthem.com
            </div>
        </div>
    </body>
</html>