{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
       <!--     <img src="{{ url_for('static', filename='image/pear.png') }}"> -->
            <img class="mb-4" src="https://www.pinclipart.com/picdir/big/118-1188265_pegasystems-logo-clipart.png" alt="" width="100" height="80">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            <br>

                 <div class="checkbox mb-3">
               <h6>Already Have an Account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
{% endblock %}