
{% extends 'base.html' %}


{% block title %}
    Team Page
{% endblock %}

{% block content %}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th></th>
            <th scope="col">US DOMAIN ID</th>
             <th scope="col">NAME</th>
            <th scope="col">DESIGNATION</th>
            <th scope="col">OPTIONS</th>
        </tr>
    </thead>
    <tbody>
        {% for items in items %}
            <tr>
                <td></td>
                <td>{{items.domain_id}}</td>
                <td>{{items.name}}</td>
                <td>{{items.designation}}</td>
                <td>
                         <button class = "btn btn-outline btn-info">MORE INFO</button>
                         <!--<button class = "btn btn-outline btn-success"> </button>-->
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}