{% extends 'base.html' %}

   {% block content %}

<form class="" action="data" method="post">
    <input type="file" name="uploads" value="">
    <input type="submit" name="" value="Submit">
</form>

      {% endblock %}